.wrapper
  .main-header
    .mypage-header
      %ul
        %li
          .profile__box
            = link_to "" do
              %span
                自分の名前
        %li
          .profile__box
            = link_to "" do
              %span
                friend
        %li
          .profile__box
            = link_to "" do
              %span
                category
        %li
          .profile__box
            = link_to "" do
              %span
                toppage
.groups
  .group 
    %ul
    %li.group__name
      music
    %li.group__name
      movie
    %li.group__name
      book
    %li.group__name
      game
    %li.group__name
      anime
