.chat-sidebar
  = render 'shared/menu'
  .group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do 
        .group-box
          .group-name
            = group.name
          .group-messages
            = group.show_last_message
          %i.fas.fa-chevron-right.group-icon
