.chat-sidebar{
  width: 25vw;
  height: 100vh;
  background-color: white;
  .user-box{
    color:white;
    text-align: center;
    font-size: 2vh;
    display: flex;
    background:#000033;
    a{
      color: white;
    }
    .user-name{
      width: 14vw;
      line-height: 10vh;
    }
    .user-icon{
      margin-left: 0.5vw;
      line-height: 10vh;
      &:hover{
        color: red;
      }
    }
    .menu{
      #hum{
        background-color: #fff; /*メニュー背景色*/
        box-sizing: border-box;
        height: 100%;
        padding: 10px 40px; /*メニュー内部上下左右余白*/
        position: fixed;
        right: -300px; /*メニュー横幅①と合わせる*/
        top: 0;
        transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
        width: 300px; /*メニュー横幅①*/
        z-index: 1000;
      }
    }
  }
  .group-list{
    overflow: auto;
    height: 90vh;
  }
  .group-box{
    color: #000033;
    box-sizing: border-box;
    height: 10vh;
    padding-top: 2vh;
    padding-left:1vw ;
    border-bottom: 1px solid #000033;
    position: relative;
    a{
      color: #000033;
    }
    &:hover{
      background-color: lightgray;
      .group-icon{
        color:red;
        transform: translate(50%, 0);
        transition: all ease-out .2s;
      }
    }
    .group-icon{
      position: absolute;
      right: 1vw;
      bottom: 4vh;
      font-size: 2vh;
    }
  }
}