.chat-group-body{
  padding-top: 2vh;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  box-sizing: border-box;
  &__box{
    margin: 0 auto;
    height: 20vh;
    height: 95vh;
    margin: 0 auto ;
    border: solid 1px $navy1;
    width: 60vw;
    border-radius: 2vh;
    background-color: white;
    h1{
      color: white;
      font-size: 5rem;
      line-height: 8vh;
      background-color: #EE0000;
      border-radius: 2vh 2vh 0 0;
      font-family: 'Oraqle Script';
    }
  }
  .chat-group-form{
    &__field{
      &--left{
        margin-top: 3vh;
      }
    }
    &__label{
      font-size: 3rem;
      font-family: 'Oraqle Script';
    }
    &__input{
      width: 20vw;
    }
    &__action-btn{
      color: white;
      background-color: $navy1;
      padding: 1vh 1vw;
      border-radius: 1vh;
      font-size: 2rem;
      font-family: 'Oraqle Script';
      cursor: pointer;
      transition: 0.5s;
      &
    }
  }
}