.chat-group-body{
  padding-top: 2vh;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  box-sizing: border-box;
  &__box{
    margin: 0 auto;
    height: 20vh;
    height: 95vh;
    margin: 0 auto ;
    border: solid 1px $navy1;
    width: 60vw;
    border-radius: 2vh;
    background-color: white;
    h1{
      color: white;
      font-size: 8vh;
      line-height: 8vh;
      background-color: #EE0000;
      border-radius: 2vh 2vh 0 0;
      font-family: 'Oraqle Script';
    }
  }
}