.login-body{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  box-sizing: border-box;
  text-align: center;
  padding-top: 2vh;
  .main-footer{
    height: 3vh;
    background-color: $red1;
  }
  &__header{
    font-family: $font1;
    background-color: $red1;
    line-height: 10vh;
    font-size: 7vh;
    border-radius: 1.8vh 1.8vh 0 0;
    color: white;
  }
  &__btn{
    background-color: $navy1;
    color: white;
    font-size: 3vh;
    border-radius: 1vh;
    padding: 1vh 4vh;
    cursor: pointer;
    font-family: $font1;
    margin: 4vh 0;
    transition: 0.5s;
    &:hover{
      color: $red1;
    }
  }
  &__sub{
    box-sizing: border-box;
    border: 2px solid $navy1;
    border-radius: 2vh;
    margin: 0 auto;
    width: 60vw;
    background-color: white;
    height: 95vh;
    label{
      font-family: $font1;
    }
  }
  .field__log{
    font-size:5vh;
    input{
      font-size: 3vh;
      height: 4vh;
      width: 30vw;
    }
    &--member{
      margin-top: 3vh;
      font-size: 3vh;
    }
  }
  a{
    font-family: $font1;
    font-size:4vh;
    color:black;
    transition: 0.5s;
    &:hover{
      color: blue;
    }
  }
}
