.message{
  border: 2px solid lightgray;
  width: 95%;
  margin-left: 2%;
  border-radius: 10px;
  &__name{
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #EE0000;
    font-size: 2vh;
    color: white;
  }
  &__text{
    box-sizing: border-box;
    padding: 3%;
    word-wrap: break-word;
    text-align: center;
  }
}