.message{
  border: 2px solid #000033;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  &__name{
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #EE0000;
    font-size: 2vh;
    color: white;
  }
  &__text{
    box-sizing: border-box;
    padding: 3%;
    word-wrap: break-word;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
.timestamp{
  padding-right: 2vw;
  text-align: right;
}