.post-body{
  textarea{
    word-wrap: "hard";
  }
  height: 100vh;
  text-align: center;
  background-image:$back1;
  background-size: cover;
  padding-top: 2vh;
  box-sizing: border-box;
  &__sub{
    overflow: auto;
    box-sizing: border-box;
    border: 2px solid $navy1;
    border-radius: 2vh;
    margin: 0 auto;
    width: 60vw;
    background-color: $white1;
    height: 95vh;
  }
  &__post{
    font-family: $font1;
    background-color: $red1;
    line-height: 10vh;
    font-size: 6vw;
    border-radius: 1.8vh 1.8vh 0 0;
    color: $white1;
  }
  h1{
    color: $navy1;
    font-size: 5vw;
    font-family: $font1;
  }
  .post-form{
    &__text{
      &--box{
        line-height: 1.5;
        height: 25vh;
        width: 30vw;
        font-size: 3vh;
        word-wrap: "hard";
      }
    }
    &__image{
      pre{
        margin-top: 2vw;
        font-family: $font1;
        color: $navy1;
        transition: 0.5s ;
        &:hover{
          color: $red1;
        }
      }
      label{
        cursor: pointer;
        font-size: 6vh;
        font-family: $font1;
        &:hover{
          color: $red1;
        }
      }
      &--preview{
        margin: 0 auto;
        height: 15vw;
        width: 15vw;
      }
      &--file{
        border: $navy1 2px dashed;
        box-sizing: border-box;
        border-radius: 1vh;
        color: $white1;
        background-image:$back1;
        background-size: cover;
        margin: 0 auto;
        height: 15vw;
        width: 15vw;
      }
      &--box{
        display: none;
      }
    }
  }
  .post-btn{
    cursor: pointer;
    border-radius: 1vh;
    color: $white1;
    font-family: $font1 ;
    font-size: 3vw;
    padding: 1vh 13.5vw;
    background-color: $navy1;
    transition: 0.5s ;
    &:hover{
      color: $red1;
    }
  }
  a{
    color: $navy1;
    font-family: $font1;
    font-size: 3vw;
    transition: 0.5s;
    padding-bottom: 0.7vw;
    &:hover{
      color: $blue1;
    }
  }
}
#postpreview{
  border: 1px solid $navy1;
  border-radius: 1vh;
  height: 15vw;
  width: 15vw;
}