.post-body{
  height: 100vh;
  text-align: center;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  background-size: cover;
  padding-top: 2vh;
  box-sizing: border-box;
  &__sub{
    box-sizing: border-box;
    border: 2px solid $navy1;
    border-radius: 2vh;
    margin: 0 auto;
    width: 60vw;
    background-color: white;
    height: 95vh;
  }
  &__post{
    font-family: 'Oraqle Script';
    background-color: $red1;
    line-height: 10vh;
    font-size: 8vh;
    border-radius: 1.8vh 1.8vh 0 0;
    color: white;
  }
  h1{
    color: $navy1;
    font-size: 8vh;
    font-family: 'Oraqle Script';
  }
  .post-form{
    &__text{
      &--box{
        line-height: 1.5;
        height: 25vh;
        width: 30vw;
        font-size: 3vh;
      }
    }
    &__image{
      pre{
        margin-top: 7vh;
        font-family: 'Oraqle Script';
        color: $navy1;
      }
      label{
        cursor: pointer;
        font-size: 6vh;
        font-family: 'Oraqle Script';
        &:hover{
          color: $red1;
        }
      }
      &--preview{
        margin: 0 auto;
        height: 300px;
        width: 300px;
      }
      &--file{
        border: $navy1 2px dashed;
        box-sizing: border-box;
        border-radius: 1vh;
        color: white;
        background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
        background-size: cover;
        margin: 0 auto;
        height: 300px;
        width: 300px;
      }
      &--box{
        display: none;
      }
    }
  }
  .post-btn{
    cursor: pointer;
    border-radius: 1vh;
    color: white;
    font-family: 'Oraqle Script' ;
    font-size: 5vh;
    padding: 1vh 13.5vw;
    background-color: $navy1;
    &:hover{
      color: $red1;
    }
  }
  #postpreview{
    height: 300px;
    width: 300px;
  }
}