.mypage-category{
  a{
    display: block;
    color: black;
    &:hover{
      background-color: lightskyblue;
    }
  }
  ul{
    box-sizing: border-box;
    margin-top:35%;
    width: 300px;
    background:white;
    border: solid 2px black;
  }
  li{
    cursor: pointer;
    text-align: center;
    font-size: 3vw;
    border: 1px solid lightgray;
    box-sizing: border-box;
  }
}