.signup-body{
  height: calc(100vh - 100px);
  text-align: center;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  background-size: cover;
  padding-top: 2vh;
  box-sizing: border-box;
  input{
    font-size:4vh ;
  }
  &__sub{
    margin: 0 auto;
    width: 60vw;
    background-color: white;
    height: 80vh;
  }
}