.signup-body{
  height: 100vh;
  text-align: center;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  background-size: cover;
  padding-top: 2vh;
  box-sizing: border-box;
  &__image{
    box-sizing: border-box;
    height: 160px;
    width: 160px;
  }
  .actions{
    margin: 4vh 0;
  }
  &__signup{
    font-family: $font1;
    background-color: $red1;
    line-height: 10vh;
    font-size: 8vh;
    border-radius: 1.8vh 1.8vh 0 0;
    color: white;
  }
  &__sub{
    box-sizing: border-box;
    border: 2px solid $navy1;
    border-radius: 2vh;
    margin: 0 auto;
    width: 60vw;
    background-color: white;
    height: 95vh;
    label{
      font-family: $font1;
      font-size: 5vh;
    }
  }
  &__box{
    display: flex;
    margin:3vh 0 0 16vw  ;
  }
  &__text{
    margin-top: 4vh;
    input{
      font-size:2vh ;
      height: 4vh;
      width: 30vw;
    }
  }
  &__image{
    img{
      border-radius: 1vh;
      width: 160px;
      height: 160px;
      border: 1px solid $navy1;
    }
    pre{
      margin-top: 1vh;
      font-family: $font1;
    }
    &--box{
      box-sizing: border-box;
      width: 160px;
      height: 160px;
      margin: 0 auto;
      background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
      background-size: cover;
      border: dashed 1px $navy1 ;
      border-radius: 1vh;
      transition: 0.5s;
      &:hover{
        color: $red1;
      }
    }
    .input-image{
      display: none;
    }
  }
  &__name{
    width: 20vw;
  }
  .signup-btn{
    font-family: $font1;
    background-color: $navy1;
    color: white;
    font-size: 3vh;
    border-radius: 1vh;
    padding: 1vh 4vh;
    cursor: pointer;
    bottom: 3vh;
    transition: 0.5s;
    &:hover{
      color: $red1;
    }
  }
  &__login{
    margin-top: 2vh;
    font-size: 4vh;
    a{
      transition: 0.5s;
      font-family: $font1;
      color: $navy1;
      &:hover{
        color: blue;
      }
    }
  }
  #user_nickname{
    width: 10vw;
  }
  #user_email{
    font-size: 3em;
  }
}