.tweet{
  box-sizing: border-box;
  background: white;
  border: solid 2px lightgray;
  &__up{
    height: 5vh;
    border-bottom: solid 2px lightgray;
    &--name{
      line-height: 5vh;
    }
  }
  &__image{
    height: 45vh;
    border-bottom: solid 2px lightgray;
  }
  .tweet__down{
    height: 8vh;
  }
}