.tweet{
  box-sizing: border-box;
  background: white;
  border: solid 1px $navy1;
  &__up{
    height: 7vh;
    border-bottom: solid 1px $navy1;
    &--name{
      line-height: 7vh;
      font-size: 2.5vh;
    }
  }
  &__image{
    height: 45vh;
    border-bottom: solid 1px $navy1;
  }
  &__down{
    height: 8vh;
    &--name{
      font-weight: bold;
    }
  }
}