.account-page{
  text-align: center;
  height: 100vh;
  &__inner{
    margin: 0 auto;
    height: 20vh;
    &--right{
      height: 80vh;
      border: solid 1px lightgray;
      width: 80vw;
    }
  }
}