.account-page{
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  &__inner{
    margin: 0 auto;
    height: 20vh;
    height: 90vh;
    margin: 0 auto ;
    border: solid 1px #000033;
    width: 60vw;
    border-radius: 2vh;
    &--left{
      color: white;
      font-size: 3vh;
      line-height: 8vh;
      background-color: #EE0000;
      border-radius: 2vh 2vh 0 0;
    }
    &--right{
    }
  }
}