.chat-header{
  
  h1{
    background-color: $red1;
    width: 20vw;
  }
  &__box{
    box-sizing: border-box;
    border-bottom:1px solid $navy1;
    background-color: white;
    height: 10vh;
    position: relative;
    &--group{
      font-size: 3vh;
      line-height: 7vh;
      padding-left:2vw ;
    }
    &--member{
      display: flex;
      padding-left: 1vw;
      &__text{
        padding-left: 0.5vw;
      }
    }
  }
  &__edit{
    width: 15vw;
    &--text{
      top: 2.5vh;
      right: 3.5vw;
      position: absolute;
      text-align: center;
      border: 2px solid $navy1;
      line-height: 5vh;
      width: 10vw;
      color: $navy1;
      font-weight: bold;
      transition: 0.5s;
      &:hover{
        background-color: $navy1;
        color: $red1;
      }
    }
  }
}
.chat-body{
  background-size: cover;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  height: 90vh;
  box-sizing: border-box;
  &__sub{
    display: flex;
    padding: 0;
    margin: 0 auto;
  }
  .chat-main{
    width: 100%;
    &__body{
      overflow: auto;
      box-sizing: border-box;
      height: 80vh;
    }
    .chat-box{
      box-sizing: border-box;
      &__you{
        margin-top: 1vh;
        padding-right: 50%;
      }
      &__me{
        margin-top: 1vh;
        padding-left: 50%;
      }
    }
    &__form{
      box-sizing: border-box;
      padding-top: 2.5vh;
      height: 10vh;
      background: $navy1;
      &--box{
        display: flex;
        .chat-input{
          position: relative;
        }
      }
    }
    .image-icon{
      position: absolute;
      color:$red1;
      right:18vw;
      font-size: 5vh;
    }
    .input-image{
      display: none;
    }
    .chat-input{
      margin-left: 3%;
      width: 75%;
    }
    .massage-send{
      width: 15%;
      text-align: right;
      margin-left: 2%;
    }
    .message-btn{
      height: 5vh;
      width: 80%;
      background:$navy1;
      color: white;
      text-align: center;
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        background-color: white;
        color: $red1;
      }
    }
  } 
}