.chat-header{
  background-color: #EE0000;
  height: 10vh;
  box-sizing: border-box;
}
.chat-body{
  background-size: cover;
  background-image:url(https://image.freepik.com/free-photo/_1149-1283.jpg);
  height: 90vh;
  box-sizing: border-box;
  &__sub{
    display: flex;
    padding: 0;
    margin: 0 auto;
  }
  .chat-sidebar{
    width: 25vw;
    height: 90vh;
    background-color: white;
    overflow: auto;
    .user-box{
      color:white;
      text-align: center;
      font-size: 2vh;
      display: flex;
      background:#000033;
      a{
        color: white;
      }
      .user-name{
        width: 15vw;
        line-height: 10vh;
      }
      .user-icon{
        margin-left: 0.5vw;
        line-height: 10vh;
      }
    }
    .group-box{
      color: #000033;
      box-sizing: border-box;
      height: 10vh;
      padding-top: 2vh;
      padding-left:1vw ;
      border-bottom: 1px solid #000033;
      position: relative;
      a{
        color: #000033;
      }
      &:hover{
        background-color: lightgray;
        .group-icon{
          color:red;
          transform: translate(50%, 0);
          transition: all ease-out .2s;
        }
      }
      .group-icon{
        position: absolute;
        right: 1vw;
        bottom: 4vh;
        font-size: 2vh;
      }
    }
  }
  .chat-main{
    width: 100%;
    &__body{
      overflow: auto;
      box-sizing: border-box;
      height: 80vh;
    }
    .chat-box{
      box-sizing: border-box;
      &__you{
        margin-top: 1vh;
        padding-right: 50%;
      }
      &__me{
        margin-top: 1vh;
        padding-left: 50%;
      }
    }
    &__form{
      box-sizing: border-box;
      padding-top: 2.5vh;
      height: 10vh;
      background: #000033;
      &--box{
        display: flex;
        .chat-input{
          position: relative;
        }
      }
    }
    .image-icon{
      position: absolute;
      color:#EE0000;
      right:18vw;
      font-size: 5vh;
    }
    .input-image{
      display: none;
    }
    .chat-input{
      margin-left: 3%;
      width: 75%;
    }
    .massage-send{
      width: 15%;
      text-align: right;
      margin-left: 2%;
    }
    .message-btn{
      height: 5vh;
      width: 80%;
      background:#000033;
      color: white;
      text-align: center;
    }
  } 
}
