


.body {
  margin: 0;
  padding: 0;
}

.main-header{
  font-family: 'Perfetto';
  box-sizing: border-box;
  border: solid 3px black;
  background:red;
  width: 100vw;
  height:100px;
  display: flex;
  a{
    color: white;
  }
  h1{
    margin-left:5% ;
    line-height: 100px;
    width: 80%;
    font-size:5em;
  }
  .main-headers{
    font-size:5em;
    width: 20%;
    display: flex;
    &__signup{
      text-align: center;
      width: 50%;
    }
    &__login{
      text-align: center;
      width: 50%;
    }
  }
}

.main-body{
  height: calc(100vh - 100px);
  width: 100vw;
  background:lightgray;
  box-sizing: border-box;
  padding-top: 100px;
  &__center{
    height: calc(100vh - 200px);
    width: 70%;
    margin: auto;
  }
  .sticker{
    box-sizing: border-box;
    text-align: center;
    height:90%;
    border: solid 3px black;
    border-radius: 50px;
    &__header{
      color: white;
      border-radius: 45px 45px 0 0;
      height: 30%;
      background: red;
      h1{
        font-size: 100px;
      }
      p{
        font-size: 30px;
      }
    }
    &__body{
      position: relative;
      font-family: 'Oraqle Script';
      background: white;
      height: 50%;
      &--text{
        font-size: 10em;
        position: absolute;
      }
      &__image{
        
      }
    }
    &__footer{
      background: red;
      height: 20%;
      border-radius: 0 0 45px 45px;
    }
  }
}




.field{
  font-size: 3vw;
}

.field__log{
  font-size: 3vw;
  margin-top: 3vh;
}



