@font-face {
  font-family: 'Oraqle Script';
  src: url('Oraqle Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "config/colors";
@import "module/sidebar";
@import "module/tweet";
@import "module/message";
@import "module/setting";
@import "module/group_side";
@import "module/group_new";
@import "module/user-edit";
@import "module/signup";
@import "module/login";
@import "module/post";
@import "module/comment";
@import "reset";
@import "tweets";
@import "groups";
@import "mypage";
@import "chat";
@import "index";