.login-body{
  height: calc(100vh - 100px);
  width: 100vw;
  background:lightgray;
  box-sizing: border-box;
  font-family: 'Oraqle Script';
  box-sizing: border-box;
  .field__log{
    font-size:5vw;
  }
  a{
    font-size:4vw;
    color:black;
    &:hover{
      color: blue;
    }
  }
}
.login-body{
  text-align: center;
  &__sub{
    h2{
      font-family: 'Oraqle Script';
      font-size: 5em;
    }
  }
}