.mypage-header{
  a{
    color:white;
  }
  font-family: 'Oraqle Script';
  box-sizing: border-box;
  border: solid 3px black;
  background:red;
  width: 100vw;
  height:100px;
  display: flex;
  box-sizing: border-box;
  h1{
    font-size:7vw;
    width: 20%;
    text-align: center;
  }
  h2{
    width: 30%;
    font-size: 5vw;
    font-family: 'Oraqle Script';
  }
  ul{
    width: 50%;
    display: flex;
    font-size: 3vw;
    li{
      text-align: center;
      font-size: 6vw;
      width: 700%;
    }
  }
}

.mypage-category{
  width: 300px;
  background: red;
}