.mypage-header{
  a{
    color:white;
    &:hover{
      color: blue;
    }
  }
  font-family: 'Oraqle Script';
  box-sizing: border-box;
  border: solid 3px black;
  background:red;
  width: 100vw;
  height:100px;
  display: flex;
  box-sizing: border-box;
  h1{
    font-size:6vw;
    width: 20%;
    text-align: center;
  }
  h2{
    box-sizing: border-box;
    padding-left: 5%;
    width: 30%;
    font-size: 6vw;
    font-family: 'Oraqle Script';
  }
  ul{
    width: 50%;
    display: flex;
    font-size: 3vw;
    li{
      text-align: center;
      font-size: 6vw;
      width: 700%;
    }
  }
}
.mypage-body{
  background-color:lightgray ;
  padding-top:5% ;
  &__sub{
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }
  .mypage-category{
    a{
      display: block;
      color: black;
      &:hover{
        background:darkcyan;
      }
    }
    ul{
      box-sizing: border-box;
      margin-top:35%;
      width: 300px;
      background:white;
      border: solid 2px black;
    }
    li{
      cursor: pointer;
      text-align: center;
      font-size: 5vh;
      border: 1px solid lightgray;
      box-sizing: border-box;
    }
  }
  .select-default{
    height: 30px;
    width: 100%;
  }
  .hobby-btn{
    height:50px;
    width: 100%;
  }
  .mypage-main{
    border: solid 2px black;
    margin-left: 10%;
    width: 60%;
    background: white;
    li{
      border-bottom: 1px solid lightgray;
    }
    p{
      display: inline-block;
    }
    &__name{
      line-height: 100px;
      height: 100px;
      display: flex;
      border-bottom: 2px solid lightgray ;
      h1{
        text-align: center;
        font-size:4vw;
        width: 40%;
      }
      p{
        width: 60%;
        font-size: 3vw;
      }
    }
    &__list{
      display: flex;
      line-height: 100px;
      .boxbox{
        height: 100px;
        width:100px;
      }
      .upload-image{
        display: none;
      }
      h1{
        text-align: center;
        font-size:4vw;
        width: 40%;
      }
      h3{
        text-align: center;
        font-size:4vw;
        width: 40%;
      }
      h4{
        text-align: center;
        font-size:4vw;
        width: 50%;
      }
    }
  }
}
