.mypage-header{
  font-family: 'Oraqle Script';
  box-sizing: border-box;
  border: solid 3px black;
  background:red;
  width: 100vw;
  height:100px;
  display: flex;
  box-sizing: border-box;
  h1{
    
  }
}